$primary: #ff4646;
$static-white: #ffffff;
$dark: #181c29;

@mixin action-small {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@mixin img-position {
  background-size: cover;
  background-position: 0px;
}

* {
  margin: 0;
  list-style: none;
  border: none;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

header {
  padding: 12px 82px;
  @include action-small;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 20px;
}

nav {
  ul {
    display: flex;
    gap: 8px;
    padding: 0;
  }
  li {
    padding: 12px 20px;
  }
}

.gifts {
  background-color: $primary;
  background-image: url(./assets/pictures/bg-ball.png);
  height: 524px;
  color: $static-white;
  @include img-position;
}

.snow-container {
  background-image: url(./assets/pictures/bg-snow.png);
  height: 524px;
  @include img-position;
}

.gifts-container {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  width: 430px;
  margin: 0 auto;
}

.caption {
  font-family: "Allura";
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
}

h1 {
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

.explore-btn {
  @include action-small;
  width: 236px;
  padding: 20px 32px;
  cursor: pointer;
  background-color: $dark;
  color: $static-white;
  border-radius: 20px;
}
