$primary: #ff4646;
$static-white: #ffffff;
$static-white40: #ffffff66;
$dark: #181c29;
$content-background: #ecf3f8;
$tag-purple: #4361ff;
$tag-pink: #ff43f7;
$tag-green: #06a44f;

@mixin action-small {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@mixin img-position {
  background-size: cover;
  background-position: 0px;
}

@mixin arrow-style {
  background-size: contain;
  width: 12.5px;
  height: 12px;
}

* {
  margin: 0;
  list-style: none;
  border: none;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

header {
  padding: 12px 82px;
  color: $dark;
  @include action-small;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 20px;
}

nav {
  ul {
    display: flex;
    gap: 8px;
    padding: 0;
  }
  li {
    padding: 12px 20px;
  }
}

.gifts {
  background-color: $primary;
  background-image: url(./assets/pictures/bg-ball.png);
  height: 524px;
  color: $static-white;
  @include img-position;
}

.snow-container {
  background-image: url(./assets/pictures/bg-snow.png);
  height: 524px;
  @include img-position;
}

.gifts-container {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  width: 430px;
  margin: 0 auto;
}

.caption {
  font-family: "Allura";
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
}

h1 {
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

.explore-btn {
  @include action-small;
  width: 236px;
  padding: 20px 32px;
  cursor: pointer;
  background-color: $dark;
  color: $static-white;
  border-radius: 20px;
}

.about {
  background-color: $primary;
  background-image: url(./assets/pictures/bg-snow.png);
  height: 648px;
  padding: 60px 82px;
  background-size: cover;
  background-position: center;
}

.about-container {
  display: flex;
  justify-content: space-between;
  background-color: $static-white;
  border-radius: 20px;
}

.about-description {
  width: 426px;
  display: flex;
  margin-left: 60px;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: $dark;
}

.primary {
  color: $primary;
}

h2 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

.text {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
}

.about-img {
  background-image: url(./assets/pictures/santa.png);
  background-size: cover;
  width: 638px;
  height: 528px;
  border-radius: 20px;
}

.slider-section {
  padding: 60px 0 59px 0;
  background-image: url(./assets/pictures/bg-snow.png);
  @include img-position;
  background-color: $primary;
}

.slider-title {
  display: flex;
  text-align: center;
  flex-direction: column;
  color: $static-white;
  gap: 13px;
  padding-left: 3px;
}

.slider-container {
  overflow: hidden;
}

.slider {
  padding: 20px 0;
  position: relative;
  display: flex;
  align-items: center;
  gap: 20.5px;
  left: 83px;

  p {
    font-family: "Montserrat";
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    color: $static-white;
  }

  img {
    width: 200px;
    height: 200px;
    background-size: contain;
    border-radius: 20px;
  }
}

.pagination-box {
  padding: 0 81px;
  display: flex;
  justify-content: flex-end;
  gap: 21px;

  button {
    width: 56px;
    height: 56px;
    background-color: $primary;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.arrow-left {
  @include arrow-style;
  background-image: url(./assets/icons/arr-left-inactive.svg);
}

.arrow-right {
  @include arrow-style;
  background-image: url(./assets/icons/arr-right.svg);
}

.active-btn {
  border: 1px solid $static-white;
}

.inactive-btn {
  border: 1px solid $static-white40;
}

.best-gifts {
  padding: 60px 80px;
  background-color: $primary;
  background-image: url(./assets/pictures/bg-snow.png);
  @include img-position;
  color: $static-white;
  text-align: center;
}

.best-gifts-title {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-left: 3px;
}

.best-gifts-box {
  display: flex;
  gap: 12px;
  margin-top: 5px;
}

.best-gifts-card {
  border-radius: 20px;
  background-color: $static-white;
  width: 310px;
  color: $dark;
  img {
    background-color: $content-background;
    width: 310px;
    border-radius: 20px;
  }
  h3 {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: left;
  }
  h4 {
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: left;
  }
}

.card-title-box {
  display: flex;
  flex-direction: column;
  padding: 18px 0px 18px 20px;
  gap: 9px;
}

.tag-pirple {
  color: $tag-purple;
}

.tag-green {
  color: $tag-green;
}

.tag-pink {
  color: $tag-pink;
}
