$primary: #ff4646;
$primary10: #ff46461a;
$static-white: #ffffff;
$static-white20: #ffffff33;
$static-white40: #ffffff66;
$dark: #181c29;
$content-background: #ecf3f8;
$tag-purple: #4361ff;
$tag-pink: #ff43f7;
$tag-green: #06a44f;

@mixin action-small {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}